:root {
	--accent-color: #800000;
	--gradient-color: #f6bb73;
	--light-menu-color: #ffffff;
	--mid-menu-color: antiquewhite;
	--dark-menu-color: #4d0000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(15px + .2vw);
	width: min(80%, 1024px);
	line-height: 1.5;
	margin: auto;
	border: 2px solid var(--accent-color);
}

h1, h2, h3, p, ul {
	padding: .25em 0;
}

a:hover, a:focus {
	font-style: italic;
	color: var(--accent-color);
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
	color: var(--accent-color);
}

h3 {
	font-size: 105%;
}

ul {
	margin-left: 2em;
}

header {
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
	& h2 {
		font-size: 175%;
		padding: .5em 0 0 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		width: clamp(40px, 15%, 80px);
		float: left;
		margin: .75em 1em;
	}
}

main {
	display: flex;
	clear: left;
	padding: 0 1em 1em;
	& blockquote {
		font-style: italic;
		padding-left: 1em;
	}
	& h3 + img {
		width: clamp(40px, 50%, 75px);
		border: 4px double var(--accent-color);
		border-radius: 10px;
	}
}

section {
	flex-basis: 75%;
	padding-left: .5em;
	& img {
		width: clamp(100px, 50%, 250px);
		float: right;
		margin: 0 1em .25em;
	}
}

aside {
	flex-basis: 25%;
	padding-right: .5em;
}

footer {
	background-color: var(--accent-color);
	& p {
		text-align: center;
		color: white;
		padding: 1em 0;
	}
}

.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0 1em;
}

.speaker {
	& h1 {
		color: var(--accent-color);
	}
	& h2 {
		color: black;
	}
	& p {
		padding: .5em 0;
	}
}

.large {
	font-size: 125%;
}

.navbar {
	background-color: var(--accent-color);
}

.navbar a {
	display: block;
	padding: 1em;
	text-decoration: none;
	color: var(--light-menu-color);
	margin: 0 1px 2px 1px;
}

.navbar a:hover,
.navbar a:focus,
.navbar a.current {
	background-color: var(--mid-menu-color);
	color: var(--dark-menu-color);
}

.menu {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	flex-basis: 20%;
	text-align: center;
	position: relative;
}

.menu li small {
	margin-left: 0.5em;
}

.menu li:hover .submenu {
	display: block;
}

.submenu {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	background-color: var(--accent-color);
	color: var(--light-menu-color);
	display: none;
	padding: 0;
	list-style: none;
	margin-left: 0;
	margin-right: 0;
}
